* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

.sidebar {
  border: 5px solid red;
  display: flex;
  width: 240px;
}

.main-container {
  border: 5px solid blue;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.bottom-toolbar {
  border: 5px solid green;
  display: flex;
  height: 70px;
}

main {
  display: flex;
  flex-grow: 1;
}