* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
}

main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  /* border: 5px solid red; */
  background-color: black;
  display: flex;
  min-width: 207px;
  min-height: 92vh;
  flex-direction: column;
  padding-left: 15px;
  justify-content: space-between;
}

.main-container {
  width: 100vw;
  background-color: #111121;
}

.bottom-toolbar {
  /* border: 5px solid green; */
  display: flex;
  height: 73px;
  background-color: rgb(41, 41, 41);
  justify-content: space-between;
  padding: 0 10px;
}

.current-song {
  display: flex;
  flex-wrap: wrap;
  min-width: 11%;
}

.current-info {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: small;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.current-artist {
  display: flex;
  color: white;
}

.current-title {
  display: flex;
  color: grey;
}

.icon-xs {
  display: flex;
  color: grey;
  justify-content: center;
  padding-left: 12px;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 11px;
}

.current-album {
  position: relative;
  height: 96%;
  padding: 15px 0;
  padding-right: 15px;
}

.player {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.player-controls {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  align-items: center;
}

.player-controls i {
  color: grey;
  font-size: 18px;
}

.player-progress {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-time {
  display: flex;
  font-size: smaller;
}

.song-bar {
  display: flex;
  border: solid 1px #363636;
  background-color: #363636;
  border-radius: 5px;
  width: 85%;
  height: 7px;
  align-items: center;
}

.progress-bar {
  display: flex;
  background-color: grey;
  border-radius: 5px;
  height: 100%;
  width: 25%;
  justify-content: flex-end;
  align-items: center;
}

.progress-point {
  background-color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  filter: opacity(0);
}

.song-options {
  color: white;
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;

}

.button-options {
  display: flex;
  column-gap: 20px;
}

.volume-bar {
  display: flex;
  border: solid 1px #363636;
  background-color: #363636;
  border-radius: 5px;
  min-width: 90px;
  height: 7px;
}

.logo {
  display: flex;
  padding: 20px 0;
  width: 120px;
}

.main-commands {
  display: flex;
}


.side-menu {
  display: flex;
  flex-direction: column;
  width: 15%;
  row-gap: 10px;
}

.side-menu span {
  color: rgb(102, 102, 102);
  ;
}

nav :nth-child(1) span {
  color: white;
}

.side-menu div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
  padding: 25px 0;
  flex-grow: 1;
}

.playlist span {
  color: rgb(102, 102, 102);
  ;
}

.playlist i {
  color: rgb(102, 102, 102);
  ;
  font-size: xxx-large;
}

.title-list {
  color: white;
}

.playlist :nth-child(1) span {
  color: white;
  text-transform: uppercase;
}

ul :nth-child(2) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  padding: 10px 0;
}

.install {
  display: flex;
  color: rgb(102, 102, 102);
  column-gap: 20px;
  width: 25px;
}

.bar {
  border-bottom: 2px solid rgb(102, 102, 102);
  width: 90%;
}

.install img {
  color: rgb(102, 102, 102);
}

.username {
  display: flex;
  column-gap: 17px;
  width: 25px;
}

.username span {
  color: white;
}

.username img {
  border-radius: 50%;
  background-color: grey;
  height: 30px;
}

.upgrade-bar {
  display: flex;
  flex-direction: row-reverse;
  background-color: #0e0d14;
  height: 72px;
  align-items: center;
  padding-right: 15px;
  width: 100%;
}

button {
  display: flex;
  background-color: transparent;
  color: white;
  align-items: center;
  height: 50%;
  border-color: #ffffff7d;
  border-radius: 20px;
  min-width: 15%;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.song-menu {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 10px 10px;
  align-items: flex-start;
  width: 100%;
}

.song-menu li {
  display: flex;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  font-weight: bold;
}

.song-menu area {
  border-bottom: 3px solid green;
  width: 30px;
}

.song-menu li:nth-child(1) {
  flex-direction: column;
  align-items: center;
  color: white;
}

.title-list {
  /* display: flex; */
  padding: 10px 15px;
}

.title-list span {
  /* display: flex; */
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.title-list p {
  color: rgb(102, 102, 102);
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  height: 84vh;
}

.album-container {
  display: flex;
  padding: 15px;
  column-gap: 15px;
  justify-content: space-between;
}

.album-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  max-width: 175px;
  position: relative;
}

.album-container img {
  max-width: 175px;
}

.album-container h3 {
  color: white;
}

.album-container p {
  color: rgb(102, 102, 102);
}

.album-container i {
  color: white;
  font-size: xxx-large;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}

.album-container2 {
  display: flex;
  padding: 15px;
  column-gap: 15px;
  justify-content: space-between;
}

.album-container2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  max-width: 175px;
  position: relative;
}

.album-container2 img {
  max-width: 175px;
}

.album-container2 h3 {
  color: white;
}

.album-container2 p {
  color: rgb(102, 102, 102);
}

.album-container2 i {
  color: white;
  font-size: xxx-large;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}

.album-container3 {
  display: flex;
  padding: 15px;
  column-gap: 15px;
  justify-content: space-between;
}

.album-container3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  max-width: 175px;
  position: relative;
}

.album-container3 img {
  max-width: 175px;
  border-radius: 50%;
}

.album-container3 h3 {
  color: white;
}

.album-container3 p {
  color: rgb(102, 102, 102);
}

.album-container3 i {
  color: white;
  font-size: xxx-large;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}

/* hover */

.progress-bar:hover {
  background-color: green;
}

.progress-point:hover {
  filter: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

li span:hover {
  color: white;
  cursor: pointer;
}

.side-menu div span:hover {
  color: white;
  cursor: pointer;
}

.player-controls i:hover {
  color: white;
  cursor: pointer;
}

.player-controls i:nth-child(3):hover {
  transform: scale(1.2);
}

.logo:hover {
  cursor: pointer;
}

.icon-xs i:hover {
  color: white;
  cursor: pointer;
}

.button-options i:hover {
  cursor: pointer;
}

.album-container img:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.album-container :hover i {
  display: block;
  cursor: pointer;
}

.album-container2 img:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.album-container2 :hover i {
  display: block;
  cursor: pointer;
}

.album-container3 img:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.album-container3 :hover i {
  display: block;
  cursor: pointer;
}

.playlist li:hover {
  cursor: pointer;
  color: white;
  list-style: none;
}

.playlist i:hover {
  cursor: pointer;
  color: white;
  list-style: none;
}

/* media screen */

@media screen and (max-width: 1400px) {

  .album-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .song-menu {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .song-options {
    justify-content: flex-end;
    flex-grow: 1;
    min-width: 207px;
  }

  .current-song {
    flex-grow: 1;
    min-width: 207px;
  }

  .player-progress {
    min-width: 276px;
  }
}

@media screen and (max-width: 807px) {
  .player-controls {
    width: 100%;
  }
}

@media screen and (max-width: 715px) {

  .sidebar {
    display: none;
  }

  .bottom-toolbar {
    height: 74px;
  }
}