* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  border: 5px solid red;
  display: flex;
  width: 240px;
}

.main-container {
  border: 5px solid blue;
  display: flex;
  height: 92vh;
  width: 100vw;
  overflow-y: scroll;
}

.bottom-toolbar {
  /* border: 5px solid green; */
  display: flex;
  height: 73px;
  background-color: rgb(41, 41, 41);
  justify-content: space-between;
}

.current-song {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  width: 11%;
  justify-content: space-between;
}

.current-info {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: small;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.current-artist {
  display: flex;
  color: white;
}

.current-title {
  display: flex;
  color: grey;
}

.icon-xs {
  display: flex;
  color: grey;
  justify-content: center;
  padding-left: 12px;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 15px;
}

.current-album {
  position: relative;
  height: 96%;
  width: 25%;
  padding: 15px 0;
  padding-left: 10px;
}

.player {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.player-controls {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  align-items: center;
}

.player-progress {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-time {
  display: flex;
  font-size: smaller;
}

.song-bar {
  display: flex;
  border: solid 1px #363636;
  background-color: #363636;
  border-radius: 5px;
  width: 85%;
  height: 7px;
}

.progress-bar {
  display: flex;
  background-color: grey;
  border-radius: 5px;
  height: 100%;
  width: 25%;
}

.song-options {
  color: white;
  display: flex;
  width: 12%;
  align-items: center;
  justify-content: space-around;
}

.button-options {
  display: flex;
  column-gap: 20px;
}

.volume-bar {
  display: flex;
  border: solid 1px #363636;
  background-color: #363636;
  border-radius: 5px;
  width: 45%;
  height: 7px;
}